#ifndef __{{ guard_name }}_HANDLERS_H__
#define __{{ guard_name }}_HANDLERS_H__

#include <stdlib.h>
#include <stdint.h>
#include <stdbool.h>
#include <string.h>
#include <sid_handlers.h>
#include <coreconfTypes.h>

