#include <stdlib.h>
#include <stdint.h>
#include <stdbool.h>
#include <string.h>
#include <stdio.h>
#include "{{ proto }}-handlers.h"
#include "{{ proto }}-impl.h"
#include "sid_handlers.h"
#include "coreconfTypes.h"
#include "coreconfManipulation.h"
#include "sid.h"

