/**
 * PUT handler declaration
 * User implements this in the impl file to customize PUT validation and behavior
 */
int handlePutRequest(CoreconfValueT **coreconfModel, CoreconfValueT *newValue, struct hashmap **clookupHashmap);
