CoreconfValueT* handler_read_{{ sid }}(SIDHandlerContextT *ctx) {
{% if keys %}
{% set ctx_keys = keys %}
{% set error_return = "NULL" %}
{% include 'ctx_keys.c.jinja' %}
    // Call user-implemented read function
    {{ return_type }} result = {{ user_function }}({% for key in keys %}{{ key.name }}{% if not loop.last %}, {% endif %}{% endfor %});
{% else %}
    // Call user-implemented read function
    {{ return_type }} result = {{ user_function }}();
{% endif %}

{% if is_container_or_list %}
    if (result == NULL) {
        return ccoreconfModelExamineCoreconfValue(ctx->model, ctx->keys, ctx->pathNode);
    } else {
        return result;
    }
{% else %}
    // Return the user's value; the caller owns (and frees) the new CoreconfValueT
    return {{ constructor_function }}(result);
{% endif %}
}
